$enable-responsive-font-sizes: true;
$carousel-control-width: 15%;
%black-text {
    color:black;
}
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$theme-colors: (
    "primary": rgb(121, 22, 22)
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
    font-family:"anirm";
    src: url("../font/anirm___.ttf") format("truetype");
  }
@media (min-width: 768px) {
    .hamburger-wrapper-b {
        display:none;
    }
}
@media (max-width: 768px) {
    .breadcrumb {
        display:none;
    }
    .hamburger-wrapper {
        display:block !important;
    }
    .wrapper-nav {
        display:none;
    }
}
.box300 {
    background: url(../images/wp5252094.jpg) no-repeat center center fixed;
    background-size:cover;
    height:100%;
    width:auto;
}
#wallpaper {
    background: url(../images/wp5252135.jpg) no-repeat center center fixed;
    background-size:cover;
}
.card-hero {
    margin-left:50px;
}
.clickable {
    &:hover {
        color:white;
        cursor:pointer;
    }
}
body {
    font-family:"anirm", sans-serif;
    font-size:14px;
    color:white;
    background-color:#000;
}
.hamburger-wrapper {
    position:absolute;
    top:352px;
    display:none;
}
.box400 {
     width:100%;
     height:300px;
     border: 2px solid black;
     .logo {
         position:relative;
         margin-left:20px;
         margin-bottom:25px;
         top:20%;
         left:20%;
     }
 }
 .mod-height {
     height:360px;
 }
 .card-anim {
     transition: 0.2s;
     opacity:0%;
     animation: 1s autoplay1 linear;
     animation-fill-mode: forwards;
     background-color:transparent;
     color:white;
     &:hover {
         transform:scale(1.1);
         margin:0 5px;
         z-index:2;        
     }
 }
.card-hero > *:nth-child(1) {animation-delay: 0s}
.card-hero > *:nth-child(2) {animation-delay: 1s}
.card-hero > *:nth-child(3) {animation-delay: 2s}
.card-hero > *:nth-child(4) {animation-delay: 3s}
@keyframes autoplay1 {
    0% {
        opacity:0%;
    }
    100% {
        opacity:100%;
    }
  }
 .nav-item {
     margin:5px;
 }
 .spacer {
    height:500px;
 }
.resize-menu {
    padding-top:15px;
    padding-left:15px;
}
.breadcrumb {
    position:absolute;
    
    background-color:transparent;
}
.contenu-index {
    max-width:800px;
}
.wrapper-content {
    padding:1%;
}
.wrapper-nav {
    float:left;
    margin-right:50px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.low-cd {
    margin-bottom:-15px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
footer {
    clear:both;
    a {
        text-decoration:none;
    }
}
/*  */
